textarea {
    width: 50rem;
    height: 15rem;
    font-family: monospace;
    font-size: 12px;
}

.playing-card {
    background-color: white;
    font-size: 10rem;
}

.playing-card.heart, .playing-card.diamond {
    color: red;
}

.playing-card.club, .playing-card.spade {
    color: black;
}